
<script src="assets/easypiechart.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>


	<main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
		<header class="page-header row justify-center">
			<div class="col-md-6 col-lg-8">
				<h1 class="float-left text-center text-md-left">Engagement</h1>
				<div class="btn-group">
					<button data-toggle="dropdown" class="btn btn-link btn-lg no-padding dropdown-toggle margin" aria-expanded="false">Entire company <span class="caret"></span></button>
					<ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
						<li><a href="#">Account Management</a></li>
						<li><a href="#" class="font-bold">Product & Engineering</a></li>
						<li class="divider"></li>
						<li><a href="#">London</a></li>
						<li><a href="#">Sheffield</a></li>
					</ul>
				</div>
			</div>
			<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img src="https://i.imgur.com/sRiXEAA.jpg" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
				<div class="username mt-1">
					<h4 class="mb-1">Shaun Bradley</h4>
					<h6 class="text-muted">People Director</h6>
				</div>
				</a>
				<div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink"><%= link_to "My Profile", pages_profile_path, :class => "dropdown-item" %>
				     <a class="dropdown-item" href="#">Logout</a></div>
			</div>
			<div class="clear"></div>
		</header>

		<section class="row space">
			<div class="col-md-6">
				<nav class="breadcrumb">
				  
				</nav>
			</div>
			<div class="col-md-6">
				<div class="float-right">
					<%= link_to pages_compare_path do %>
						<button type="button" class="btn btn-md btn-tertiary">Compare all teams</button>
					<% end %>
					<button type="button" class="btn btn-md btn-secondary">Download report</button>
				</div>
			</div>
		</section>

		

			<section class="row">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-12">
								<div class="card mb-4">
									<div class="row">
									<div class="col-md-4 col-lg-4">
										<div class="card-block">
											<h3 class="card-title text-center">Engagement Score <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="This score represents how emotionally connected your people are to their role at Perkbox. The Perkbox score is calculated as a cumulative moving average across all 10 key drivers of engagement."></em></h3>
											<div class="canvas-wrapper" data-toggle="tooltip" data-placement="top" title="Great score! You're 0.6 above the Perkbox company average. Keep it up :)">
												<div class="easypiechart" id="easypiechart-4" data-percent="82"><canvas height="300" width="300" style="height: 110px; width: 110px;"></canvas></div>
												<h3 class="mt-2 mb-1 text-center">8.2/<span class="text-muted small" >10</span></h3>
												<p class="mb-1 text-center text-muted small">+0.5 since last week</p>
											</div>
										</div>
									</div>
						
							<div class="col-md-8 col-lg-8">
											<div class="bill">
											<canvas id="line-chart" height="90"></canvas>
										</div>
										</div>
									</div>
							</div>
					</section>

				<section class="row space">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-4 col-lg-6">
								<div class="card mb-6">
									<div class="card-block">
										<h3 class="card-title text-center">Strengths <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Calculated from 4250 survey responses since Jan 2017"></em></h3>
										<h6 class="card-subtitle mb-2 text-muted text-center">Top 5 drivers</h6>
										<div class="canvas-wrapper">

											<%= link_to pages_organisation_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">The organisation, strategy & culture <span class="float-right text-success">9.5 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-text-color" style="width: 95%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_communication_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Communication <span class="float-right text-success">9.2 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 92%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_mywork_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">My work <span class="float-right text-success">8.7 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 87%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_leadership_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Leadership <span class="float-right text-success">8.1 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 81%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_management_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Management <span class="float-right text-success">7.6 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 76%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
								<div class="card mb-6">
									<div class="card-block">
										<h3 class="card-title text-center">Weaknesses <em class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Calculated from 3590 survey responses since Jan 2017"></em></h3>
										<h6 class="card-subtitle mb-2 text-muted text-center">Lower 5 drivers</h6>
										<div class="canvas-wrapper">
											<%= link_to pages_opportunities_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Opportunities <span class="float-right text-danger">7.4 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 74%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_reward_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Reward & recognition <span class="float-right text-danger">7.1 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 71%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_training_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Training & development <span class="float-right text-danger">6.3 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 63%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_teamwork_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Teamwork <span class="float-right text-danger">6.1 <i class="fa fa-chevron-right"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 61%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

											<%= link_to pages_quality_path do %>
											  	<div class="bottomLinks">
											    	<h6 class="pt-1">Quality of life <span class="float-right text-danger">5.7 <i class="fa fa-chevron-right gray-3"></i></span></h6>
													<div class="progress progress-custom">
														<div class="progress-bar bg-red" style="width: 57%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
											  	</div>
											<% end %>

										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</section>
	</main>
</div>

<script type="text/javascript">
$(document).on("click","ul.nav li.parent > a ", function(){          
    $(this).find('i').toggleClass("fa-minus");      
}); 
$(".sidebar span.icon").find('em:first').addClass("fa-plus");

$('#calendar').datepicker({
    });

$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>


<script type="text/javascript">

$(function() {
   $('#easypiechart-4').easyPieChart({
       scaleColor: false,
       barColor: '#00adee'
   });
});
</script>

<script type="text/javascript">
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>





<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov"],
    datasets: [{ 
        data: [7.2,7.4,7.8,7.4,7.8,8.0,8.2,7.9,8.0,8.1,8.2],
        label: "Engagement",
        borderColor: "#00adee",
        fill: false
      }
    ]
  },
  options: {
    legend: {
    		display: false,
            position: 'bottom',
            labels: {
                fontFamily: 'Lato',
                fontSize: 14,
            }
        },
    scales : {
        xAxes : [ {
            gridLines : {
                display : false,
            }
        } ],
        yAxes : [ {
            gridLines : {
                display : false,
            }
        } ]
    }

  },


});

</script>


<script type="text/javascript">
	/**!
 * easyPieChart
 * Lightweight plugin to render simple, animated and retina optimized pie charts
 *
 * @license 
 * @author Robert Fleischmann <rendro87@gmail.com> (http://robert-fleischmann.de)
 * @version 2.1.5
 **/

(function(root, factory) {
    if(typeof exports === 'object') {
        module.exports = factory(require('jquery'));
    }
    else if(typeof define === 'function' && define.amd) {
        define(['jquery'], factory);
    }
    else {
        factory(root.jQuery);
    }
}(this, function($) {

/**
 * Renderer to render the chart on a canvas object
 * @param {DOMElement} el      DOM element to host the canvas (root of the plugin)
 * @param {object}     options options object of the plugin
 */
var CanvasRenderer = function(el, options) {
	var cachedBackground;
	var canvas = document.createElement('canvas');

	el.appendChild(canvas);

	if (typeof(G_vmlCanvasManager) !== 'undefined') {
		G_vmlCanvasManager.initElement(canvas);
	}

	var ctx = canvas.getContext('2d');

	canvas.width = canvas.height = options.size;

	// canvas on retina devices
	var scaleBy = 1;
	if (window.devicePixelRatio > 1) {
		scaleBy = window.devicePixelRatio;
		canvas.style.width = canvas.style.height = [options.size, 'px'].join('');
		canvas.width = canvas.height = options.size * scaleBy;
		ctx.scale(scaleBy, scaleBy);
	}

	// move 0,0 coordinates to the center
	ctx.translate(options.size / 2, options.size / 2);

	// rotate canvas -90deg
	ctx.rotate((-1 / 2 + options.rotate / 180) * Math.PI);

	var radius = (options.size - options.lineWidth) / 2;
	if (options.scaleColor && options.scaleLength) {
		radius -= options.scaleLength + 2; // 2 is the distance between scale and bar
	}

	// IE polyfill for Date
	Date.now = Date.now || function() {
		return +(new Date());
	};

	/**
	 * Draw a circle around the center of the canvas
	 * @param {strong} color     Valid CSS color string
	 * @param {number} lineWidth Width of the line in px
	 * @param {number} percent   Percentage to draw (float between -1 and 1)
	 */
	var drawCircle = function(color, lineWidth, percent) {
		percent = Math.min(Math.max(-1, percent || 0), 1);
		var isNegative = percent <= 0 ? true : false;

		ctx.beginPath();
		ctx.arc(0, 0, radius, 0, Math.PI * 2 * percent, isNegative);

		ctx.strokeStyle = color;
		ctx.lineWidth = lineWidth;

		ctx.stroke();
	};

	/**
	 * Draw the scale of the chart
	 */
	var drawScale = function() {
		var offset;
		var length;

		ctx.lineWidth = 1;
		ctx.fillStyle = options.scaleColor;

		ctx.save();
		for (var i = 24; i > 0; --i) {
			if (i % 6 === 0) {
				length = options.scaleLength;
				offset = 0;
			} else {
				length = options.scaleLength * 0.6;
				offset = options.scaleLength - length;
			}
			ctx.fillRect(-options.size/2 + offset, 0, length, 1);
			ctx.rotate(Math.PI / 12);
		}
		ctx.restore();
	};

	/**
	 * Request animation frame wrapper with polyfill
	 * @return {function} Request animation frame method or timeout fallback
	 */
	var reqAnimationFrame = (function() {
		return  window.requestAnimationFrame ||
				window.webkitRequestAnimationFrame ||
				window.mozRequestAnimationFrame ||
				function(callback) {
					window.setTimeout(callback, 1000 / 60);
				};
	}());

	/**
	 * Draw the background of the plugin including the scale and the track
	 */
	var drawBackground = function() {
		if(options.scaleColor) drawScale();
		if(options.trackColor) drawCircle(options.trackColor, options.lineWidth, 1);
	};

  /**
    * Canvas accessor
   */
  this.getCanvas = function() {
    return canvas;
  };
  
  /**
    * Canvas 2D context 'ctx' accessor
   */
  this.getCtx = function() {
    return ctx;
  };

	/**
	 * Clear the complete canvas
	 */
	this.clear = function() {
		ctx.clearRect(options.size / -2, options.size / -2, options.size, options.size);
	};

	/**
	 * Draw the complete chart
	 * @param {number} percent Percent shown by the chart between -100 and 100
	 */
	this.draw = function(percent) {
		// do we need to render a background
		if (!!options.scaleColor || !!options.trackColor) {
			// getImageData and putImageData are supported
			if (ctx.getImageData && ctx.putImageData) {
				if (!cachedBackground) {
					drawBackground();
					cachedBackground = ctx.getImageData(0, 0, options.size * scaleBy, options.size * scaleBy);
				} else {
					ctx.putImageData(cachedBackground, 0, 0);
				}
			} else {
				this.clear();
				drawBackground();
			}
		} else {
			this.clear();
		}

		ctx.lineCap = options.lineCap;

		// if barcolor is a function execute it and pass the percent as a value
		var color;
		if (typeof(options.barColor) === 'function') {
			color = options.barColor(percent);
		} else {
			color = options.barColor;
		}

		// draw bar
		drawCircle(color, options.lineWidth, percent / 100);
	}.bind(this);

	/**
	 * Animate from some percent to some other percentage
	 * @param {number} from Starting percentage
	 * @param {number} to   Final percentage
	 */
	this.animate = function(from, to) {
		var startTime = Date.now();
		options.onStart(from, to);
		var animation = function() {
			var process = Math.min(Date.now() - startTime, options.animate.duration);
			var currentValue = options.easing(this, process, from, to - from, options.animate.duration);
			this.draw(currentValue);
			options.onStep(from, to, currentValue);
			if (process >= options.animate.duration) {
				options.onStop(from, to);
			} else {
				reqAnimationFrame(animation);
			}
		}.bind(this);

		reqAnimationFrame(animation);
	}.bind(this);
};

var EasyPieChart = function(el, opts) {
	var defaultOptions = {
		barColor: '#ef1e25',
		trackColor: '#f9f9f9',
		scaleColor: '#dfe0e0',
		scaleLength: 5,
		lineCap: 'round',
		lineWidth: 3,
		size: 110,
		rotate: 0,
		animate: {
			duration: 1000,
			enabled: true
		},
		easing: function (x, t, b, c, d) { // more can be found here: http://gsgd.co.uk/sandbox/jquery/easing/
			t = t / (d/2);
			if (t < 1) {
				return c / 2 * t * t + b;
			}
			return -c/2 * ((--t)*(t-2) - 1) + b;
		},
		onStart: function(from, to) {
			return;
		},
		onStep: function(from, to, currentValue) {
			return;
		},
		onStop: function(from, to) {
			return;
		}
	};

	// detect present renderer
	if (typeof(CanvasRenderer) !== 'undefined') {
		defaultOptions.renderer = CanvasRenderer;
	} else if (typeof(SVGRenderer) !== 'undefined') {
		defaultOptions.renderer = SVGRenderer;
	} else {
		throw new Error('Please load either the SVG- or the CanvasRenderer');
	}

	var options = {};
	var currentValue = 0;

	/**
	 * Initialize the plugin by creating the options object and initialize rendering
	 */
	var init = function() {
		this.el = el;
		this.options = options;

		// merge user options into default options
		for (var i in defaultOptions) {
			if (defaultOptions.hasOwnProperty(i)) {
				options[i] = opts && typeof(opts[i]) !== 'undefined' ? opts[i] : defaultOptions[i];
				if (typeof(options[i]) === 'function') {
					options[i] = options[i].bind(this);
				}
			}
		}

		// check for jQuery easing
		if (typeof(options.easing) === 'string' && typeof(jQuery) !== 'undefined' && jQuery.isFunction(jQuery.easing[options.easing])) {
			options.easing = jQuery.easing[options.easing];
		} else {
			options.easing = defaultOptions.easing;
		}

		// process earlier animate option to avoid bc breaks
		if (typeof(options.animate) === 'number') {
			options.animate = {
				duration: options.animate,
				enabled: true
			};
		}

		if (typeof(options.animate) === 'boolean' && !options.animate) {
			options.animate = {
				duration: 1000,
				enabled: options.animate
			};
		}

		// create renderer
		this.renderer = new options.renderer(el, options);

		// initial draw
		this.renderer.draw(currentValue);

		// initial update
		if (el.dataset && el.dataset.percent) {
			this.update(parseFloat(el.dataset.percent));
		} else if (el.getAttribute && el.getAttribute('data-percent')) {
			this.update(parseFloat(el.getAttribute('data-percent')));
		}
	}.bind(this);

	/**
	 * Update the value of the chart
	 * @param  {number} newValue Number between 0 and 100
	 * @return {object}          Instance of the plugin for method chaining
	 */
	this.update = function(newValue) {
		newValue = parseFloat(newValue);
		if (options.animate.enabled) {
			this.renderer.animate(currentValue, newValue);
		} else {
			this.renderer.draw(newValue);
		}
		currentValue = newValue;
		return this;
	}.bind(this);

	/**
	 * Disable animation
	 * @return {object} Instance of the plugin for method chaining
	 */
	this.disableAnimation = function() {
		options.animate.enabled = false;
		return this;
	};

	/**
	 * Enable animation
	 * @return {object} Instance of the plugin for method chaining
	 */
	this.enableAnimation = function() {
		options.animate.enabled = true;
		return this;
	};

	init();
};

$.fn.easyPieChart = function(options) {
	return this.each(function() {
		var instanceOptions;

		if (!$.data(this, 'easyPieChart')) {
			instanceOptions = $.extend({}, options, $(this).data());
			$.data(this, 'easyPieChart', new EasyPieChart(this, instanceOptions));
		}
	});
};


}));
</script>









