<!DOCTYPE html>
<html>
  <head>
    <title>Insights</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  </head>

  <body>
    <div class="container-fluid" id="wrapper">
      <div class="row">
        <%= render "layouts/html_nav" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
